*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI}

body{
background:linear-gradient(135deg,#063d39,#0f766e);
color:#fff;
min-height:100vh;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
}

.logo{font-size:28px;font-weight:700}

.menu a{
color:#fff;
margin-left:25px;
text-decoration:none;
font-size:18px;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{font-size:48px;margin-bottom:10px}
.hero p{opacity:.85}

.hero button{
margin-top:25px;
padding:16px 44px;
border:none;
border-radius:40px;
background:#22c55e;
color:#000;
font-size:18px;
font-weight:700;
cursor:pointer;
}
