*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI}

body{background:#f6f8f7;color:#053f3a}

/* NAV */
nav{
display:flex;justify-content:space-between;
padding:20px 60px;background:#053f3a;color:white
}
nav ul{list-style:none;display:flex;gap:30px}
nav a{color:white;text-decoration:none}

/* HERO */
.hero{text-align:center;padding:150px 20px}
.hero h1{font-size:48px}
.hero p{margin:15px 0 30px}
.btn{padding:14px 40px;background:#00ffb3;border-radius:12px;text-decoration:none;color:black}

/* SPLIT */
.split{display:grid;grid-template-columns:1fr 1.3fr;gap:30px;padding:40px}

/* AI */
.assistant{background:white;padding:25px;border-radius:20px}
.chat{height:260px;background:#eafaf5;padding:15px;border-radius:15px}

/* DASHBOARD */
.blue-dashboard{background:white;padding:25px;border-radius:20px}
.cards{display:grid;grid-template-columns:repeat(4,1fr);gap:15px}
.card{background:#f2f7f5;padding:20px;border-radius:15px}
.dark{background:#053f3a;color:white}

/* GRAPH */
.graph{margin-top:25px;background:#f2f7f5;padding:20px;border-radius:15px}
.bars{height:200px;display:flex;gap:15px;align-items:flex-end}
.bar{width:28px;background:linear-gradient(#053f3a,#00ffb3);border-radius:10px}

/* ADMIN PANEL */
.admin-layout{display:grid;grid-template-columns:250px 1fr;height:100vh}

.sidebar{background:#053f3a;color:white;padding:30px}
.sidebar ul{list-style:none;margin-top:30px}
.sidebar li{padding:12px;border-radius:10px;margin-bottom:8px;cursor:pointer}
.sidebar .active{background:#00ffb3;color:black}

.admin-main{padding:35px}

.admin-grid{display:grid;grid-template-columns:2fr 1fr;gap:25px;margin-top:25px}

.orders{background:white;padding:20px;border-radius:15px}
table{width:100%;border-collapse:collapse}
td,th{padding:10px;border-bottom:1px solid #ddd}

/* ABOUT */
.about{max-width:900px;margin:80px auto;background:white;padding:50px;border-radius:25px;line-height:1.7}
