# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# SQLite database
*.db

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log